<?xml version="1.0" encoding="UTF-8"?>
<robot name="tarot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo reference="base_link">
    <material>Gazebo/DarkGray</material>
    <sensor name="air_pressure_sensor" type="air_pressure">
      <always_on>1</always_on>
      <update_rate>50</update_rate>
      <air_pressure>
        <pressure>
          <noise type="gaussian">
            <mean>0</mean>
            <stddev>3</stddev>
          </noise>
        </pressure>
      </air_pressure>
    </sensor>
    <sensor name="magnetometer_sensor" type="magnetometer">
      <always_on>1</always_on>
      <update_rate>100</update_rate>
      <magnetometer>
        <x>
          <noise type="gaussian">
            <stddev>0.0001</stddev>
          </noise>
        </x>
        <y>
          <noise type="gaussian">
            <stddev>0.0001</stddev>
          </noise>
        </y>
        <z>
          <noise type="gaussian">
            <stddev>0.0001</stddev>
          </noise>
        </z>
      </magnetometer>
    </sensor>
    <sensor name="imu_sensor" type="imu">
      <always_on>1</always_on>
      <update_rate>250</update_rate>
      <imu>
        <angular_velocity>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.0008726646</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.0008726646</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.0008726646</stddev>
            </noise>
          </z>
        </angular_velocity>
        <linear_acceleration>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.00637</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.00637</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.00686</stddev>
            </noise>
          </z>
        </linear_acceleration>
      </imu>
    </sensor>
    <sensor name="navsat_sensor" type="navsat">
      <always_on>1</always_on>
      <update_rate>30</update_rate>
    </sensor>
  </gazebo>
  <gazebo reference="rotor_1">
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo reference="rotor_2">
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo reference="rotor_3">
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo reference="rotor_4">
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo>
    <plugin filename="gz-sim-imu-system" name="gz::sim::systems::imu"></plugin>
    <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::sensors">
      <render_engine>ogre2</render_engine>
    </plugin>
  </gazebo>
</robot>
