apt-utils
bash-completion
build-essential
curl
cmake
debian-archive-keyring
debian-keyring
evtest
git
gnupg2
gpg-agent
joystick
jstest-gtk
locales
lsb-release
mercurial
ninja-build 
openssh-server
protobuf-compiler
python3
python3-pip
python3-setuptools
software-properties-common
sudo
tmux
wget
xterm
npm 
unzip 
clang-format

ros-humble-joint-state-publisher-gui
ros-humble-ign-ros2-control 
ros-humble-geometry-msgs 
ros-humble-tf2 
ros-humble-nav-msgs
ros-humble-ros-ign-bridge
