apt-utils
bash-completion
build-essential
curl
cmake
debian-archive-keyring
debian-keyring
evtest
git
gnupg2
gpg-agent
joystick
jstest-gtk
locales
lsb-release
mercurial
ninja-build 
openssh-server
protobuf-compiler
python3
python3-pip
python3-setuptools
software-properties-common
sudo
tmux
wget
xterm
npm 
unzip 
clang-format

ros-humble-joint-state-publisher-gui
ros-humble-geometry-msgs 
ros-humble-tf2 
ros-humble-nav-msgs

gstreamer1.0-plugins-bad 
gstreamer1.0-libav 
gstreamer1.0-gl
libfuse2
libxcb-xinerama0 
libxkbcommon-x11-0 
libxcb-cursor-dev
libopencv-dev 
python3-opencv
