<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="motor" params="name xyz rpy">
    <link name="${name}">
      <inertial>
        <mass value="0.037"></mass>
        <inertia ixx="7.08e-06" ixy="0.0" ixz="0.0" iyy="7.08e-06" iyz="0.0" izz="2.86e-06"></inertia>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://agents/meshes/visual/motor.dae"></mesh>
        </geometry>
        <material name="motor_material"></material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://agents/meshes/collision/motor.stl"></mesh>
        </geometry>
      </collision>
    </link>
    <joint name="${name}_joint" type="fixed">
      <parent link="base"></parent>
      <child link="${name}"></child>
      <origin rpy="${rpy}" xyz="${xyz}"></origin>
    </joint>
  </xacro:macro>
</robot>
