<?xml version="1.0" encoding="UTF-8"?>
<robot name="trot" xmlns:xacro="https://www.ros.org/wiki/xacro">
  <material name="dark_gray">
    <color rgba="0.3 0.3 0.3 1.0"></color>
  </material>
  <material name="red">
    <color rgba="1.0 0 0 1.0"></color>
  </material>
  <material name="blue">
    <color rgba="0 0 1.0 1.0"></color>
  </material>
</robot>
