<?xml version="1.0" encoding="UTF-8"?>
<robot name="tarot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find uav)/urdf/material.xacro"></xacro:include>
  <xacro:include filename="$(find uav)/urdf/gazebo.xacro"></xacro:include>
  <xacro:include filename="$(find uav)/urdf/rotor.xacro"></xacro:include>
  <link name="base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"></origin>
      <mass value="1.5"></mass>
      <inertia ixx="0.0217" ixy="0" ixz="0" iyy="0.0295" iyz="0" izz="0.0414"></inertia>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"></origin>
      <geometry>
        <box size="1.0 1.0 0.85"></box>
      </geometry>
    </collision>
    <visual>
      <origin rpy="1.5708 0 1.5697" xyz="-0.008 -0.018 0.005"></origin>
      <geometry>
        <mesh filename="package://uav/meshes/collision/tarot.stl" scale="0.00188 0.00183 0.00183"></mesh>
      </geometry>
      <material name="dark_gray"></material>
    </visual>
  </link>
  <xacro:rotor number="1" rotation_type="ccw" xyz="0.40 -0.40 0.051"></xacro:rotor>
  <xacro:rotor number="2" rotation_type="ccw" xyz="-0.40 0.40 0.051"></xacro:rotor>
  <xacro:rotor number="3" rotation_type="cw" xyz="0.40 0.40 0.051"></xacro:rotor>
  <xacro:rotor number="4" rotation_type="cw" xyz="-0.40 -0.40 0.051"></xacro:rotor>
</robot>
